<div style="height: 100%; width: 100%">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
          <span class="d-block d-lg-none">Eby Komenan</span>
          <span class="d-none d-lg-block">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="images/eby_ifly.jpg" alt="">
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#education">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
            </li>
          </ul>
        </div>
      </nav>
  
      <div class="container-fluid p-0">
  
        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
          <div class="my-auto">
            <h1 class="mb-0">Eby
              <span class="text-primary">Komenan</span>
            </h1>
            <div class="subheading mb-5">11736 Rockaway Lane · Fairfax, VA 22030 · (240) 575-0597 ·
              <a href="mailto:eagkomenan@gmail.com">eagkomenan@gmail.com</a> <br /> <a href="resume/Resume_Eby_Komenan.pdf" download="Eby_Komenan_Resume.pdf">Pdf copy of my resume</a>
            </div>
            <p class="mb-5">I am a recent graduate with a B.S in Computer Science from George Mason University (Go Patriots!!). I've been able to gain experience with various programming languages throughout the years and have even been able to dabble in Video Game Design and Development. I look forward to exploring new technologies and deepen my skillset. Other than being a more informal online resume, this website is also an example of some of the skills that I have recently learned while pair programming with my brother (who happens to be a software developer as well). Navigate to the <a href="#projects" nav-link js-scroll-trigger >Projects</a> section for more details.</p>
            <ul class="list-inline list-social-icons mb-0">
              <li class="list-inline-item">
                <a href="https://facebook.com/eby.komenan" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://gitlab.com/ekomenan" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-gitlab fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://linkedin.com/in/ebykomenan/" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/Eby-Komenan" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </section>
  
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
          <div class="my-auto">
            <h2 class="mb-5">Experience</h2>
  
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">Intern</h3>
                <div class="subheading mb-3">AGK Consulting - Abidjan, Cote d'Ivoire</div>
                <p>In order to stay productive during the winter breaks, I had the chance to work as an intern at a consulting firm located in Abidjan, Cote d'Ivoire. Being naturally bilingual (have I mentioned that I am fluent in French as well?), I was tasked with assisting during meetings by providing translations as well as recording meeting minutes. Additionally, I proofread and filed documents. I was able to gain first hand experience into the working world as well as learn a few customer interaction tricks.</p>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">December 2014, 2016, 2017</span>
              </div>
            </div>
  
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">Waitstaff Assistant</h3>
                <div class="subheading mb-3">Del Ray Cafe - Alexandria, VA</div>
                <p>A more flattering term than "busser". In order to help a bit with college and home costs, I worked in a fantastic French Restaurant for a few months. Surprisingly, I was able to gain skills that I believe are universably applicable to any profession such as customer service, time management and handling high pressure environments.</p>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">June 2013 - December 2013</span>
              </div>
            </div>
        </section>
  
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
          <div class="my-auto">
            <h2 class="mb-5">Education</h2>
  
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">George Mason University</h3>
                <div class="subheading">Bachelor of Science</div>
                <div>Computer Science</div>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">January 2016 - August 2018</span>
              </div>
            </div>
  
            <div class="resume-item d-flex flex-column flex-md-row">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">Northern Virginia Community College</h3>
                <div class="subheading">Associates</div>
                <div>Computer Science</div>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">January 2014 - December 2015</span>
              </div>
            </div>  
          </div>
        </section>
  
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
          <div class="my-auto">
            <h2 class="mb-5">Skills</h2>
  
            <div class="subheading mb-3">Programming Languages &amp; Tools</div>
            <ul class="list-inline list-icons">
              <li class="list-inline-item">
                <i class="devicon-csharp-plain" title="C#"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicons devicons-javascript" title="JavaScript"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicons devicons-java" title="Java"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicon-nodejs-plain" title="Node.js"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicons devicons-npm" title="NPM"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicons devicons-gulp" title="Gulp"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicon-c-plain" title="C"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicon-cplusplus-plain" title="C++"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicons devicons-unity_small" title="Unity (Game Framework)"></i>
              </li>
            </ul>
  
            <div class="subheading mb-3">Let's talk about skills</div>
            <p>I feel like there is a distinct duality to my skillset. On one hand, I have been able to learn and utilize technologies such as .Net (C#), JAVA, JavaScript, C and C++; on the other hand, I have been able to gain experience with Video Game Development technologies such as Unity and the Unreal Engine (currently version 4).</p>
            <p>My coursework and home projects exposed me to traditional software development technologies and ideas. My favorite course in that respect was "Computer Systems and Programming" which was a Junior level course. I particularly enjoyed this C language driven class as the courseware required some cleverness and out of the box thinking in order to successfully pass. I subsequently was able to apply this kind of puzzle solving mentality to other classes and projects.</p>
            <p></p>
            
            <!-- <ul class="fa-ul mb-0">
              <li>
                <i class="fa-li fa fa-check"></i>
                Mobile-First, Responsive Design</li>
              <li>
                <i class="fa-li fa fa-check"></i>
                Cross Browser Testing &amp; Debugging</li>
              <li>
                <i class="fa-li fa fa-check"></i>
                Cross Functional Teams</li>
              <li>
                <i class="fa-li fa fa-check"></i>
                Agile Development &amp; Scrum</li>
            </ul> -->
          </div>
        </section>
  
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
          <div class="my-auto">
            <h2 class="mb-5">Interests</h2>
            <p>Apart from my studies, I spend my time playing video games, with a preference for team-based competitive games as well as narrative-focused games. Other than that, I was a member of the Game Analysis and Development Interest Group in George Mason University where I participated in the creation of video games. Additionally, I enjoy listening to Science-Fiction and Fantasy audiobooks.</p>
          </div>
        </section>
  
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
          <div class="my-auto">
            <h2 class="mb-5">Projects</h2>
            <div gridster>
              <ul>
                <li class="projectGrid" style="display: flex;" gridster-item="project" ng-repeat="project in Main.projects" layout="column">
                  <h3 class="mb-0">{{project.name}}</h3>
                  <div layout="row" style="min-height: 34px">
                    <div class="chip" ng-repeat="chip in project.technology"> <a ng-click="$event.stopPropagation()" ng-href="{{chip.link}}" target="_blank">{{chip.name}}</a></div>  
                  </div>
                  <div class="projectDescription">{{project.description}}</div>
                  <div class="moreDetails" ng-click="Main.displayMoreDetails($event, project)">more details</div>
                </li>
              </ul>
            </div>
          </div>
        </section>  
      </div>
</div>