<!DOCTYPE HTML>
<html ng-app="app" ng-controller="MainController as Main">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge, width=device-width, initial-scale=1.0" name="viewport" charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <title>{{ title.title }} | CasaDeKomenan</title>
        <!-- app stylesheet -->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
        <link rel="stylesheet" href="./styles.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <style>
            html, body {
                height: 100%;
                width: 100%
            }
        </style>
	</head>

	<body ng-cloak >
        <div ng-include="'components/main/main.view.html'" ng-controller="MainController as Main"></div>
        <script src="./vendor.js"></script>
        <script src="./app.js"></script>   
	</body>
</html>