<md-dialog aria-label="Project Details" style="min-height: 80%; width: 80%" layout="column">    
    <md-toolbar style="background-color: #BD5D38">
        <div class="md-toolbar-tools">
            <h2 style="font-size: 3.5rem;">{{Details.project.name}}</h2>
        </div>
    </md-toolbar>

    <md-dialog-content flex>
        <div class="md-dialog-content" ng-show="!Details.showImages">
            <div layout="row" style="padding: 5px">
                <div class="chip" ng-repeat="chip in Details.project.technology"> <a ng-click="$event.stopPropagation()" ng-href="{{chip.link}}" target="_blank">{{chip.name}}</a></div>  
            </div>
            <p>{{Details.project.description}}</p>
            <p>
                <div layout="row" layout-margin layout-wrap>
                    <div ng-click="Details.onImageClick($index);" ng-repeat="pics in Details.project.pictures track by $index" style="height: 250px;">
                        <img class="projectImages" ng-src="{{pics.link}}"/>
                    </div>
                </div>
            </p>
        </div> 
        <div class="md-dialog-content" ng-show="Details.showImages">
            <div uib-carousel active="Details.activeImage">
                <div uib-slide ng-repeat="pics in Details.project.pictures track by $index" index="$index">
                    <img ng-src="{{pics.link}}" style='margin:auto; max-height: 600px; width:auto'>
                    <div class="carousel-caption">
                        <h4 style="color: white">Image {{$index}}</h4>
                        <!-- <p>{{slide.text}}</p> -->
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button class="dialogButton" ng-href="{{Details.project.link}}" ng-if="Details.project.link" target="_blank" md-autofocus>
            Launch Project
        </md-button>
    </md-dialog-actions>

  </md-dialog>